* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    color: #c7a008;
    text-shadow: 4px 4px #3c5aa6;
    font-family:'Black Ops One', cursive;
    font-size: 45px;
    display: flex;
    justify-content: center;
    
}

body {
    font-family: helvetica;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

#input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.outline {
    border: 1px dotted red;
}

main {
    flex-grow: 1;
}

header, footer {
    height: 50px;
    display: flex;
    align-items: center;
}

header {
    padding-left: 15px;
    background-color: #f00000;
    box-shadow: 3px 3px 7px 3px #808080;
}

footer {
    justify-content: center;
}

.outline {
    text-align: center; 
}

#sprite {
    width: 300px;
}