* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    color: #c7a008;
    text-shadow: 4px 4px #3c5aa6;
    font-family:'Black Ops One', cursive;
    font-size: 45px;
    display: inline-block;
    
}

body {
    font-family: helvetica;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    background-image: url('/imgs/EFFw9UV.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;

}

main {
    display: flex;
    flex-direction: row;
 }

#input {
    display: flex;
    justify-content: center;
    align-items: center;
}
.outline {
    border: 1px groove red;
}


header, footer {
    height: 50px;
    display: flex;
}

header {
    padding-left: 15px;
    background-color: #f00000;
    box-shadow: 3px 3px 7px 3px #808080;
    width: 100%;
    display: flex;
    justify-content: space-between !important;
}

footer {
    justify-content: center;
    width: 100%;
    text-align: center;
}

#sprite {
    height: 300px;
}

div {
    border-radius: 30px;
    width: 320px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(228, 225, 225);
}

.name {
    font-size: 50px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.game_index {
    font-size: 30px;
}

#input {
    margin: 40px
}

.game_index {
    text-align: center;
}


.type {
    font-size: 30px;
    font-style: italic;
}



section {
    display: inline-block;
}

