* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    color: #c7a008;
    text-shadow: 4px 4px #3c5aa6;
    font-family:'Black Ops One', cursive;
    font-size: 45px;
    
}

body {
    font-family: helvetica;
    min-height: 100vh; 
    background-image: url('/imgs/EFFw9UV.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    

}

.outline {
    border: 1px groove red;
}


header, footer {
    height: 50px;
}

header {
    padding-left: 15px;
    background-color: #f00000;
    box-shadow: 3px 3px 7px 3px #808080;
    width: 100%;

}

footer {
    width: 100%;
    text-align: center;
}

#sprite {
    height: 300px;
}

div {
    border-radius: 30px;
    width: 320px;
    height: 500px;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(228, 225, 225);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.name {
    font-size: 50px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.game_index {
    font-size: 30px;
}

#input {
    margin: 40px
}

.game_index {
    text-align: center;
}


.type {
    font-size: 30px;
    font-style: italic;
}

.find {
    display: block;
    width: 250px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
    outline: none;
    background: none;
  
    background-color: #eee;
    border-radius: 50px;
  
    color: #53565A;
    font-size: 20px;
    font-weight: 300;
  
    transition: 0.4 ease-out;
}

main {
    display: flex;
    flex-direction: row;
}
